doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='./../stylesheets/error-login.css', type='text/css')
 
  title Error
body
  div.container
    img(src="../images/warning.svg", alt="Error" width="200px" height="auto")
    h1 Enter a valid login or password
    a(href="/") Try again
  
