body{
    font: 14px  Arial, "Lucida Grande", Helvetica, sans-serif;
    color: #ffffff;
    
}
.header{
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    background-color: #37474f;
    padding: 10px;
}
.header h1{
    color: black;
    text-align: center;
    font-size: 32px;
}
.container{
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 40px;

}
.container__new-dish{
   
    margin: 0 10px;
    width: 40%;
    min-height: 1000px;
    background-color: #37474f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__edit-dish{
    margin: 0 10px;
    width: 40%;
    min-height: 1000px;
    background-color: #37474f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

}
.container__new-dish h1{
    font-size: 28px;
}
.container__form form{
    display: flex;
    flex-direction: column;
    
   
   
    
}
.container__form__label{
    font-size: 18px;
    margin: 10px 0;
    

}
.container__form__input{
    margin: 5px 0;
    width: auto;
    font-size: 18px;
    padding: 8px;

}
.container__form__input:focus{
    background-color: none;
    outline: none;
    border: 2px solid #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}
.add__block{
    cursor: pointer;
    margin-top: 10px;
    width: auto;
    font-size: 18px;
    padding: 8px;
    background-color:#689f38;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.add__block:hover{

    background-color: #558b2f;
    transition: 1s;
}
.add__block-edit{
    cursor: pointer;
    margin-top: 10px;
    width: auto;
    font-size: 18px;
    padding: 8px;
    background-color:#689f38;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.add__block-edit:hover{
    background-color: #558b2f;
    transition: 1s;

}
.container__form__select{
    width: 250px;
    font-size: 18px;
    padding: 10px 8px;
}
select{
    width: auto;
    font-size: 18px;
    padding: 8px;
}
select:focus{
    background-color: none;
    outline: none;
    border: 1px solid #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container__form__textarea{
    letter-spacing: inherit;
    width: 450px;
    font-size: 18px;
    padding: 8px;
}

.container__form__input__file{
    width: 250px;
    font-size: 18px;

}
.inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile_edit{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    
}
.label-input__file{
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    
    display: inline-block;
    background-color: #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 2px;

}
.label-input__file:hover{
    background-color: #558b2f;
    transition: 1s;
}


.container__form__button{
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 15px;
    padding: 10px 60px;
    font-size: 18px;
    border: 0;

}
.container__form__button:hover{
    background-color: #558b2f;
    transition: 2s;

}
.container__form__button-edit{
    
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 15px;
    padding: 10px 60px;
    font-size: 18px;
    border: 0;

}
.container__form__button-edit:hover{
    background-color: #558b2f;
    transition: 1s;

}
.container__form__button_close{
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #be251f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 15px;
    padding: 10px 60px;
    font-size: 18px;
    border: 0;

}
.container__form__button_close:hover{
    background-color: #9e2723;
    transition: 1s;

}
.container__information{
    margin: 0 10px;
    width: 35%;
   

}
.container__information__filter{
    
    background-color: #37474f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.container__information__filter ul{
    padding-left: 15px;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
  
}
.container__information__filter ul li{
    margin: 10px 10px 10px 0;
    
  
}
.filter-label{
    margin-right: 10px;
    font-size: 16px;
}
.filter__any{
   
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #e68e09;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px 30px;
}
.filter__submit{
    border: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px 30px;
}
.filter__any:hover{
    background-color: #bb7a18;;
    transition: 1s;
}
.filter__submit:hover{
    background-color: #558b2f;
    transition: 1s;
}

.container__list{
    overflow: auto;
    height: 928px;
   
    background-color: #37474f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.container__list__ul{
    padding: 0;
    font-size: 18px;
    list-style: none;
}
.container__list__li li{
    color: #ffffff;
}
.container__list__li{
    background-color: #546e7a;
    margin: 10px 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.container__list__li div li p span{
    color: #d6d6d6

}
/* .container__list__li:hover{
    cursor: pointer;
    background-color: #689f38;
    transition: 0.5s;
} */
.container__list__button-edit{
    opacity: 0.3;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;

}
.container__list__button-edit:hover{
    opacity: 1;
    transition: 0.3s;
}

.container__list__delete{
    opacity: 0.3;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
}
.container__list__delete:hover{
    opacity: 1;
    transition: 0.3s;
}

.edit-block{
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 800px;
    height: 80px;
    background-color: #37474f;
}
.edit-block__label{
    margin-right: 10px;
    font-size: 18px;
   

}
.edit-block__input{
   
    width: 250px;
    font-size: 18px;
    padding: 8px;

}
.edit-block__input:focus{
    background-color: none;
    outline: none;
    border: 2px solid #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
}

.edit-block__button{
    border: 0;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #689f38;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.edit-block__button__close{
    text-decoration: none;
    border: 0;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #e53935;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.edit-block__button:hover{
    
    background-color: #558b2f;
    transition: 1s;

}
.edit-block__button__close:hover{
    background-color: #c62828;
    transition: 1s;

}

.error_image{
    border-radius: 3px;
    padding: 5px;
    background-color: red;
    display: none;
    
    color: #ffffff;
    
}
#error_button{
   
    pointer-events: none;
    opacity: 0.7;
}
#error_button-edit{
    pointer-events: none;
    opacity: 0.7;
}
.button_edit{
    text-decoration: none;
}

#block__images__li{
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.delete-image{
    margin-bottom: 5px;
    width: 80px;
    text-align: center;  
    text-decoration: none;
    border: 0;
    font-size: 14px;   
    padding: 6px 80px;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    background-color: #e53935;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.delete-image:hover{
    background-color: #9e2723;
    transition: 2s;

}



@media (max-width: 1600px) {
    .container__list{
        width: 100%;
    }
    .container__information{
        width: 50%;

    }
    .container__new-dish{
        width: 50%;
    }
    .container__edit-dish{
        width: 50%;
    }
    
  }
  